<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>
      You have a received a message from <%=name%>.
    </h2>
    <p>
      <%=body%>
    </p>
  </body>
</html>
