<form action="/users/<%=login.id%>/profile" method="post">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="job_title">Job Title</label>
    <select class="form-control" name="job_title">
      <option>Developer</option>
      <option>Entrepreneur</option>
      <option>Investor</option>
      <option></option>
    </select>
  </div>

  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="text" name="phone_number" class="form-control">
  </div>

  <div class="form-group">
    <label for="contact_email">Contact Email</label>
    <input type="email" name="contact_email" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" rows="3" cols="40" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary center-block">Update Profile</button>
  </div>
</form>
